@import "tailwindcss";

@custom-variant hover (&:hover);

html {
  scrollbar-gutter: stable both-edges;
  background-color: black;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 0;
  }
  100% {
    background-position: 200% 0;
    opacity: 0;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
