@import "tailwindcss";

@custom-variant hover (&:hover);

html {
  scrollbar-gutter: stable both-edges;
  background-color: black;
}

.virtual-scroll-container {
  scrollbar-width: none; /* Firefox - hide scrollbar */
  -ms-overflow-style: none; /* IE/Edge - hide scrollbar */
  scroll-behavior: smooth;
}

.virtual-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera - hide scrollbar */
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 0;
  }
  100% {
    background-position: 200% 0;
    opacity: 0;
  }
}
